body {font-family:sans-serif; padding:1em;}

header {}
	header h1 {display:inline;}

#buttons {text-align:right;}
	#buttons.end {display:none;}
	
button {display:inline; margin:0.1em;}
button[data-used] {display:none;}

#branches {display:none;}

.story {font-family:serif; padding:0 5%;}
button[disabled] {display:none;}

table {margin:0 auto; border-collapse:collapse;}
table td, table th {border:1px solid; padding:0.2em 0.4em; text-align:center;}

p.end {padding-top:1em; margin:1em 0 0 0; border-top:0.2em solid; font-size:140%;}
p.win {border-color:green;}
p.loss {border-color:red;}
